:root { 
--blue_gray_700_75:#42446e75; 
--blue_gray_100:#d9d9d9; 
--gray_500:#a6a6a6; 
--amber_400:#f5de19; 
--red_600:#de4c36; 
--blue_gray_100_01:#cccccc; 
--blue_500:#1f9cf0; 
--gray_900:#191919; 
--light_blue_700:#007acc; 
--light_blue_500:#13b0f5; 
--light_blue_900:#0065a9; 
--gray_50:#fbfbfb; 
--pink_A200:#e60faa; 
--black_900_33:#00000033; 
--black_900:#000000; 
--white_A700_01:#ffffff; 
--blue_gray_900:#363535; 
--white_A700:#fffdfd; 
}